@model University_System.ViewModels.AdminViewModel.AdminControllerAdminVM

@{
    ViewBag.Title = "ManageAdministrators";
}

<h2>ManageAdministrators</h2>

<p>
    <b>@Html.ActionLink("Add new admin", "Edit", "Admin", new { @id = 0 }, null)</b>
</p>

<table class="table">
    <tr>
        <td>
            <b>
                First name
            </b>
        </td>
        <td>
            <b>
                Last name
            </b>
        </td>
        <td>
            <b>
                User name
            </b>
        </td>
        <td>
            <b>
                Is Active
            </b>
        </td>
    </tr>
    @foreach (var item in Model.administratorList)
    {
    <tr>
        <td>
            @item.FirstName
        </td>
        <td>
            @item.LastName
        </td>
        <td>
            @item.UserName
        </td>
        <td>
            @item.IsActive
        </td>
        <td>
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn-link" @*style="width:120px;" *@ data-toggle="modal" data-error-info="You can not delete your own account !"
                data-confirmation="Are you sure you want to delete: "  data-additionalinfo=""  data-admin-id=@item.Id data-target="#ModalMessage">
                delete
            </button>
            @if (item.Id == University_System.Models.AuthenticationManager.LoggedUser.Id)
            {
            @Html.ActionLink("Edit", "Edit", "Admin", new { @id = item.Id }, null)
            }
        </td>
    </tr>
    }
</table>
<div>
    @Html.Partial("_ModalMessage")
</div>
<table class="table">
    <tr>
        <td>
            @Html.ActionLink("Back", "Home", "Admin")
        </td>
    </tr>
</table>
